img {
  max-width:100%;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
	border-bottom: 1px solid black;
    background-color: #f8f9fa!important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

