---
author: index
layout: default
title: Work
description: All of Gowri's works
permalink: /work
---
<div class="container" style="padding-top:2rem;">
  <div class="row">
    <div class="col">
      <h1 class="display-4">{{page.title}}</h1>
    </div>
  </div>
  <div class="col">
    <h2 class="display-5">Books</h2>
  </div>
  <div class="row">
    {% include books-list.html %}
  </div>
  <div class="col">
    <h2 class="display-5">Stories</h2>
  </div>
  <div class="row">
    {% include stories-list.html %}
  </div>
</div>
