    {% assign currentAuthor = "empty" %}
    {% assign books = site.books | sort: 'author' %}
    {% for book in books %}
    {% if currentAuthor != book.author %}
  </div>
  <div class="row">
    <div class="col-xl-12 d-flex">
      <h2>{{ book.author }}</h2>
    </div>
  </div>
  <div class="row">
    {% assign currentAuthor =  book.author %}
    {% endif %}
    <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
      <a href="{{ book.url }}">
        <div class="card mb-3" style="width: 200px; height: 300px">
          <img class="card-img-top" width="200px" height="300px" alt="{{book.title}}"
          {% if book.cover %}
            src="/assets/imgs/books/{{book.cover}}"
          {% else %}
            src="/assets/imgs/books/placeholder.jpg"
          {% endif %}
          >
        </div>
      </a>
    </div>
    {% endfor %}
